.react-userRegisterForm-all {
    max-width: 800px;
    margin: auto;
    text-align:center;
}

.react-userRegisterForm input {
    width: 200px;
    height: 25px;
    border: none;
    background-color: lightgrey;
    font-style: italic;
}

.react-userRegisterForm-index label {
    margin-right: 25px;
}

.react-userRegisterForm-register-account-button {
    margin-top: 16px;
    width: 350px;
    height: 30px;
    border: none;
    background: rgb(77, 126, 218);
    color: white;
    font-style: italic;
    font-size: 16px;
}