.react-userRegisterForm-all {
    max-width: 800px;
    margin: auto;
    text-align:center;
}

.react-userRegisterForm input {
    width: 200px;
    height: 25px;
    border: none;
    background-color: lightgrey;
    font-style: italic;
}

.react-userRegisterForm-index label {
    margin-right: 25px;
}